@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Chatta!</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Chat</h2>
        <textarea id="chatMessage" placeholder="Write message!" rows="7" cols="50"></textarea>
        <br><br>
        <button id="sendNow">Send</button>
    </div>

    <div class="col-md-6">
        <h2>Conversation</h2>
        <div id="messages"></div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/signalR.js"></script>
}